Flask==2.3.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-WTF==1.2.2
Flask-Login==0.6.3
gunicorn
python-dotenv==1.1.1
Flask-Dance==7.1.0
Flask-Cors==6.0.1
mercadopago==2.3.0
python-telegram-bot==22.2
psycopg2-binary
email_validator
python-slugify
